In [1]:
import yfinance as yf

msft = yf.Ticker("RELIANCE.NS")

# get stock info
msft.info

# get historical market data
hist = msft.history(period="max")

# show actions (dividends, splits)

msft.financials
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1996-01-01,10.471229,10.527416,10.402272,10.509539,48051995,0.0,0.0
1996-01-02,10.483998,10.535077,10.351192,10.427811,77875009,0.0,0.0
1996-01-03,10.598927,11.081625,10.483999,10.506985,96602936,0.0,0.0
1996-01-04,10.407379,10.440581,10.269465,10.409933,100099436,0.0,0.0
1996-01-05,10.369069,10.369069,10.249032,10.338421,76935930,0.0,0.0
...,...,...,...,...,...,...,...
2022-04-07,2595.100098,2606.000000,2567.000000,2572.850098,7151632,0.0,0.0
2022-04-08,2560.000000,2625.000000,2560.000000,2615.649902,6992874,0.0,0.0
2022-04-11,2600.000000,2638.550049,2583.000000,2610.199951,4270816,0.0,0.0
2022-04-12,2587.000000,2602.600098,2555.399902,2561.050049,6099986,0.0,0.0
2022-04-13,2574.500000,2592.600098,2545.500000,2551.649902,4778478,0.0,0.0